<div class="pt-2 pb-3">
  <h3>Imoveis recentes publicados</h3>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div *ngFor="let c of card"   class="carousel-item {{c.mostrar}} ">
          <div class="row ps-2 pe-2" >
            <div class="col-4" *ngFor="let cd of c.cards">
              <div class="card">
                  <img [src]="cd.img" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{cd.title}}</h5>
                      <div>
                        <p class="text">Preço do Aluguel:</p>
                        <p class="price">{{cd.price}}</p>
                      </div>
                      <div>
                         <p class="text">Descrição do Imovel:</p>
                         <p class="card-text desc">{{cd.desc}}</p>
                      </div>
                        <ul >
                          <li class="card-text badge bg-primary" *ngFor="let cat of cd.category">
                            {{ cat }} 
                        </li>
                      </ul>
                  </div>
                </div>
             </div>
            </div>
          </div>
        </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

</div>