h3 {
    padding-top: 30px;
    text-align: center;
}

.card {
    background-color: rgb(48, 48, 48);
    color: rgb(134, 134, 134);
    height: 550px;
    margin: 0px 25px;
    border-radius: 12px;
}

img {
    align-self: center;
    padding: 0px;
    width: 390px;
    height: 300px;
    border-radius: 12px;
}

.card-title{
    text-align: center;
    height: 50px;
}

p {
    padding: 0px;
    margin: 0px;
}

.text {
    font-size: 15px;
    padding-bottom: 2px;
}

.price {
    font-size: 20px;
    font-weight: 500;
    color: rgb(202, 202, 202);
}

.card-text {
    text-align: justify;
    color: rgb(202, 202, 202);
}

.badge {
    color: rgb(255, 255, 255);
}

ul {
    padding: 0px;
    margin-top: 20px;
    list-style: none;
    display: flex;
}

li {
    margin-left: auto;
    margin-right: auto;
}

.desc {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.desc:hover{
    white-space: normal;
}