<div class="principal pt-3">
    <div class="row principal-row">
        <h3>A sua casa está aqui no CanMovel!</h3> 
        <div class="col-3">
        </div>
        <div class="col">
            <div class="row">
                <div class="col-2">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Comprar</option>
                        <option value="1">Alugar</option>
                        <option value="2">Imoveis Novos</option>
                      </select>
                </div>
                <div class="col">
                    <select class="form-select" aria-label="Default select example">
                        <option value="1">Mostrar Todos</option>
                        <option selected> Apartamento</option>
                        <option value="2">Casa de Condominio</option>
                        <option value="3">Casa</option>
                        <option value="4">Chácara</option>
                        <option value="5">Cobertura</option>
                        <option value="6">Flat</option>
                        <option value="7">Kitnet</option>
                      </select>
                </div>
                <div class="col-4">
                    <input type="text" class="form-control" placeholder="Digite uma rua, bairro ou cidade">
                </div>
                <div class="col-3">
                    <button class="btn" type="button">Buscar</button>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>