.principal {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.041), rgb(34, 34, 34)),
    url('https://i.pinimg.com/550x/13/51/4a/13514a4d3356648a359ec3a95e801353.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    color: white;
    padding: 20px;
    margin-bottom: 40px;
}

.principal-row {
    margin: 100px 0px;
}

h3 {
    padding-bottom: 10px;
    text-align: center;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.459);
}

.col , .col-2 , .col-3, .col-4{
    padding: 0px;
    margin: 0px;
}

select, button, input{
    border-radius: 2px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.199)
}

button {
    width: 100px;
    background-color: rgb(255,56,92);
    font-weight: 500;
}

button:hover, button:active {
    border-color: rgb(255,56,92);
    background-color: rgb(34, 34, 34);
    color: rgb(255,56,92);
}