.card {
    background-color: rgb(48, 48, 48);
    color: rgb(134, 134, 134);
    align-items: center;
    height: 300px;
    padding: 20px;
    margin: 0px 25px;
    border-radius: 12px;
}

.card:hover {
    box-shadow: rgba(216, 216, 216, 0.24) 0px 3px 8px;
}

h3 {
    text-align: center;
    padding: 15px 0px;
}

img {
    width: 100px;
    height: 100px;
}

.card-title {
    text-align: center;
}

.card-text {
    text-align: justify;
}