<div class="p-3">
    <h3> O maior portal de imóveis do Brasil </h3>
      <div class="row">
        <div class="col" *ngFor="let c of card">
            <div class="card">
              <img [src]="c.icon" >
              <div class="card-body">
                <h5 class="card-title">{{c.title}}</h5>
                <p class="card-text">{{c.text}}</p>
             </div>
           </div>
         </div>
       </div>
 </div>

   