@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap'); /* Fonte da Logo */

.container-fluid{
    background-color: rgb(255,56,92);
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 10px;
}

.col-3{
    font-family: 'Fredoka One', cursive;
    text-align: center;
    font-size: 25px;
    padding-top: 3px;
}

.stylelist ul {
    list-style: none;
    display: flex;
    padding: 0;

}

.stylelist a, .stylelist li {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
    margin-left: 35px;
    margin-top: 10px;
    color: white;
    position: relative;
}

.stylelist a:after{
    background: none repeat scroll 0 0 transparent;
    bottom: 1;
    content: "";
    display: block;
    height: 2px;
    left: 20%;
    position: absolute;
    background: rgb(187, 42, 68);
    transition: widht 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;

}

.stylelist a:hover:after{
    width: 100%;
    left: 0;
}

.col-2 .d-flex {
    padding-top: 7px;
    color: white;
}