<div class="container-fluid">
    <div class="row">
        <div class="col-3"><span>CanMovel</span></div>
        <div class="col stylelist">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Comprar</a></li>
                <li><a href="#">Alugar</a></li>
                <li><a href="#">Imoveis disponiveis</a></li>
              </ul>
        </div>

        <div class="col-2">
            <div class="dropdown">
                <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle" id="dropdownNavLink" data-bs-toggle="dropdown" aria-expanded="false">
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                  </svg>
                </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownNavLink">
                  <li><a class="dropdown-item" href="#">Crie sua conta</a></li>
                  <li><a class="dropdown-item" href="#">Entrar</a></li>
                </ul>
              </div>
        </div>
    </div>
</div>