<div class="principal">
    <div class="row pt-3 pb-3">
        <div class="col"><span>CanMovel</span></div>
        <div class="col-4"></div>
        <div class="col">Criado por Maria Fernanda</div>
    </div>
</div>
